@model IEnumerable<Marcenaria.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedor</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FornecedorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FornecedorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FornecedorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FornecedorId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
