@model IEnumerable<Marcenaria.Models.Pagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagamento</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PagamentoForma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PagamentoForma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PagamentoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PagamentoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PagamentoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
