@model IEnumerable<Marcenaria.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Cliente</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
